<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446741083490-99bd0vf9j44mikhfnlpt6nv07bej82gj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446741083490-99bd0vf9j44mikhfnlpt6nv07bej82gj</string>
	<key>API_KEY</key>
	<string>AIzaSyCkvlXIjrzAw6MHCKel9OuKcTnmV-080ck</string>
	<key>GCM_SENDER_ID</key>
	<string>446741083490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.marekpohl.interviewproject</string>
	<key>PROJECT_ID</key>
	<string>interview-de58d</string>
	<key>STORAGE_BUCKET</key>
	<string>interview-de58d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446741083490:ios:dc88ddc9ff146c9d35283b</string>
</dict>
</plist>